.app{
  background: white;
  border: 1px solid gray;
  border-radius: 8px;
}


/* gallery css start*/
.gallery-wrapper{}
.gallery-wrapper .gallery-top{
  border-bottom: 1px solid #a4a1a1;
  padding: 16px;
}
.gallery-wrapper .gallery-title{}

.image-grid{
  display: grid;
  grid-gap: 16px;
  grid-template-columns: auto auto auto auto;
  padding: 16px;
}
.image-grid img{
  width: 100%;
  max-width: 252px;
}

.image-grid > *:first-child {
  grid-column: 1/span 2;
  grid-row: 1/span 2;
  grid-auto-rows: 300px;
}
.image-grid .image-grid-item{
  border: 1px solid #ddd;
  border-radius: 8px;
}
/* gallery css end */